<?xml version="1.0"?>
<appSettings>
	<add key="APPAMBIENTE" value="Desenvolvimento"/>
	<add key="NOMEDOSISTEMA" value="MVC Teste" />
	<add key="CODIGODOSISTEMA" value="245" />
	<add key="GrupoProdutor" value="2001" />

	<add key="UrlToken" value="https://hom.id.ms.gov.br/auth/realms/ms/protocol/openid-connect/token"/>

	<!--API CCE HOM-->
	<add key="URL_ApiCce" value="https://hom.gw.sgi.ms.gov.br/d0543" />
	<add key="URL_TokenApiCce" value="https://hom.id.ms.gov.br/auth/realms/ms/protocol/openid-connect/token" />
	<add key="Usuario_ApiCce" value="incentivos-fiscais" />
	<add key="Segredo_ApiCce" value="78e0753e-61af-4885-8065-7f13112bb961" />

	<!--HASH-AUTENCICACAO-->
	<add key="URL_HASH" value="https://hom.gw.sgi.ms.gov.br/k0363/authenticationproxyapi/v2/Autenticar/"/>
	<add key="URL_USUARIO" value="https://hom.gw.sgi.ms.gov.br/k0363/authenticationproxyapi/v1/User/"/>
	<add key="URL_DADOTEMPORARIO" value="https://hom.gw.sgi.ms.gov.br/k0363/authenticationproxyapi/v1/DadoTemporario/"/>
	<add key="URL_APIAUTHENTICATION" value="https://hom.gw.sgi.ms.gov.br/k0363/authenticationproxyapi/v1/"/>
</appSettings>
